body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: 1920px;
    height: 1080px;
    z-index: -1;
}

.start {
    display: grid;
    margin-top: 45%;
}

.logo {
    margin: auto;
    padding-bottom: 25px;
}

.auth {
    background-color: white;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    margin: auto;
}

.auth-button {
    height: 50px;
    width: 150px;
    border-radius: 25px;
    background-color: transparent;
    font-size: 36px;
    margin: auto;

}

.active {
    display: none;
}

.upper {
   transform: translateY(-200px);
   height: 100px;
   width: 100px;
}